/* Google Fonts: Poppins and Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap');

/* Common Section */
body{
    font-family: 'Poppins', sans-serif;
}

.bg-blue{
    background-color: #289BDE;
}
.bg-explore{
    background-color:  #F4FAFD;
}
.color-blue{
    color: #289BDE;
}
.color-text{
    color: #4A4A4A;
}

.section-gap{
    margin: 150px 0 !important;
}

/* Carosaul Image Slider */
.slider-img{
    height: 50rem;
    object-fit: cover;
    opacity: 0.4;
}

.slider-bg-black{
    background-color: black;
}

.slider-text-position{
    margin-bottom: 8rem;
}

.slider-heading{
    font-size: 4.5rem;
}

/* Footer Section */

footer{
    margin: 0;
    padding: 0;
}
.footer-height{
    height: 350px;
}

/* Custom Responsive Style  */

@media only screen and (max-width:768px) {
    .slider-heading{
        font-size: 2.8rem;
    }
    .slider-text-position{
        margin-bottom: 7rem;
    }
}